.body {
    background-color: rgb(18, 16, 46);
}

.banner {
    background-image: url("../../img/banner.png");
    background-size: cover;
    height: 300px;
    text-align: center;
    padding-top: 20px;
}

.banner .image-center {
    margin-top: 130px;
    color: rgb(33, 26, 73);
}

@media screen and (max-width: 450px) {
    .banner {
        background-size: 425px 100px;
        background-repeat: no-repeat;
        text-align: center;
        height: 80px;
    }
    .banner .image-center {
        margin-top: 10px;
    }
}